
body{
    font-family:"Helvetica", "YuGothic Medium","Yu Gothic Medium","游ゴシック Medium","游ゴシック体 Medium",YuGothic,"Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}


/*各画像とテキストのセットのサイズなどなど*/


body, html{

  height: 100%;
  min-height: 100vh;
  margin: 0px;
}

.total{
    text-align: center;
}

.logo{
    
/*
    margin-left:500px;
    margin-right:500;
*/
    margin-top:200px;
    margin-bottom:200px;
    max-height:100px;
    width:auto;
}